* {
    margin: 0;
    padding: 0;
}

:root {
    --border-colour: #777777;
    --grey: #707070;
    --almost-black: #181818;
    --almost-white: #f8f8f8;
}

html {
    font-size: 30px;
    size: 30px;
    color: #181818;
    font-family: 'Switzer';
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #919191;
}

body::-webkit-scrollbar {
    width: 16px;
}

a {
    color: var(--almost-black);
    text-decoration: none
}

button {
    border-width: 0px;
    border-style: none;
    border-image: none;
}

::selection {
    color: white;
    background-color: var(--almost-black)
}

.bottom-border {
    border-bottom: 1px solid var(--border-colour);
}